/** @format */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Pacifico&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.custom-select {
  @apply bg-transparent  text-white p-2 rounded appearance-none;
}

.custom-select option {
  background-color: rgba(
    135,
    207,
    235,
    0.288
  ); /* Example background for options */
  color: skyblue;
}

/* Example: Adjust font sizes and padding for mobile */
@media (max-width: 640px) {
  .custom-select {
    font-size: 14px;
    padding: 8px;
  }

  .quote-container {
    width: 90%;
    font-size: 16px;
    padding-top: 4rem;
    margin: 0 auto;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }
}

/* Example: Tablet adjustments */
@media (min-width: 641px) and (max-width: 768px) {
  .quote-container {
    width: 80%;
    font-size: 18px;
  }
}
